{% extends "travel_booking/layout.html" %}

{% block main %}



{% if message %}
<div>{{ message }}</div>
{% endif %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <h2 style="margin-left: 15%; color: rgb(44, 44, 44); font-family: 'Times New Roman', Times, serif;">Login</h2>
    <div class="input-group flex-nowrap">
        <div class="input-group-text">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="input-group-text">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>

    </div>

    <br>
    <input style="margin-left: 15%;" type="submit" class="btn btn-info" value="Login">



</form>
<div style="margin-left: 11%;;">
    <h6>Don't have an account?</h6><a href="{% url 'register' %}">Register here.</a>
</div>




{% endblock %}